@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Questrial', sans-serif;
}
.text-center a {
    text-decoration: none;
}
/*.accordion-header {
    border: 2px solid brown;
    background-color: brown;
}*/
#carouselExampleDark {
    width: 400px;
    height: auto;
}
#carouselExampleInterval{
    width: minmax(auto,600px);
    height: auto;
}


/* @media only screen and (min-width: 600px) {


