@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Questrial', sans-serif;
}
.text-center a {
    text-decoration: none;
}
/*.accordion-header {
    border: 2px solid brown;
    background-color: brown;
}*/
#carouselExampleDark {
    width: 400px;
    height: auto;
}
#carouselExampleInterval{
    width: 500px;
    height: auto;
}
#imgrot{
    transition: width 2s, height 2s, transform 2s;
}
#imgrot:hover {
    width: auto;
    height: 600px;
    transform: rotate(360deg);
}




/* @media only screen and (min-width: 600px) {
border: 2px solid yellow;
.pagination .active a:hover
{
    background-color: green;
}
.accordion-item h2 {
    background-color: green;
}
.accordion-header.collapsed {
    background: green;
}